In [1]:
import pandas as pd
import numpy as np
import statistics
from statistics import stdev
from datetime import datetime
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
df = pd.read_excel('Data Posbindu 1.xlsx')
df

,peserta_id,jss_id,tanggal_lahir,pendidikan,pekerjaan,golongan_darah,status_perkawinan,jenis_kelamin,lokasi,tanggal,...,rujuk_masalah_kesehatan_lab,rujuk_penanganan_lab,rujuk_telinga,rujuk_no_surat_telinga,rujuk_kepada_telinga,rujuk_faskes_telinga,rujuk_masalah_kesehatan_telinga,rujuk_penanganan_telinga,created_at,updated_at
0,24,JSS-A0003,1981-09-04,sarjana,asn,O,menikah,laki-laki,Grha Pandawa,2022-03-15,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-03-11 15:28:56.850521,2022-03-11 15:28:56.850521
1,15,JSS-I6680,1990-12-27,sarjana,tenaga teknis,A,menikah,laki-laki,Grha Pandawa,2022-03-15,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-03-11 15:33:17.16462,2022-03-11 15:33:17.16462
2,76,JSS-A5287,1980-09-15,sarjana,asn,O,menikah,perempuan,Grha Pandawa,2022-03-15,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-03-12 17:56:24.806932,2022-03-15 09:53:38.843117
3,77,JSS-A0017,1984-06-03,diploma,asn,B,menikah,laki-laki,Grha Pandawa,2022-03-15,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-03-12 18:08:14.000268,2022-03-15 09:48:41.588263
4,79,JSS-B3432,1990-04-21,sarjana,asn,B,menikah,perempuan,Grha Pandawa,2022-03-16,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-03-12 18:19:20.617917,2022-03-16 08:38:15.324375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,1640,JSS-A3210,1985-01-07,sarjana,asn,B,menikah,laki-laki,Grha Pandawa,2022-08-25,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-08-25 10:48:31.706583,2022-08-25 10:55:03.835606
1938,359,JSS-B4418,1984-11-20,sarjana,asn,O,menikah,perempuan,Grha Pandawa,2022-08-25,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-08-25 10:52:57.322929,2022-08-25 10:52:57.322929
1939,263,JSS-A1194,1964-09-10,pascasarjana,asn,O,menikah,laki-laki,Grha Pandawa,2022-08-25,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-08-25 10:55:21.309801,2022-08-25 11:05:37.47078
1940,673,JSS-E3034,1985-06-09,slta,tenaga teknis,A,menikah,laki-laki,Grha Pandawa,2022-08-25,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-08-25 11:47:07.454566,2022-08-25 11:52:57.986159
1941,1643,JSS-G9020,1980-05-08,diploma,tenaga teknis,O,menikah,laki-laki,Grha Pandawa,2022-08-25,...,NaN,NaN,tidak,NaN,NaN,NaN,NaN,NaN,2022-08-25 11:47:31.980482,2022-08-25 11:54:21.581627

In [3]:
now = datetime.now()
df['tahun_lahir'] = pd.DatetimeIndex(df['tanggal_lahir']).year
for index, row in df.iterrows():
    df.loc[index, 'umur'] = now.year - int(row['tahun_lahir'])

In [4]:
data = df[['peserta_id','jenis_kelamin','tanggal_lahir','umur','nama_opd',
           'ptm_keluarga','merokok','konsumsi_alkohol','kurang_aktivitas_fisik',
           'sistol','diastol','tanggal']]
data

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal
0,24,laki-laki,1981-09-04,41.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Penyakit Asma,tidak,tidak,ya,NaN,NaN,2022-03-15
1,15,laki-laki,1990-12-27,32.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,NaN,ya,tidak,tidak,NaN,NaN,2022-03-15
2,76,perempuan,1980-09-15,42.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Kolesterol Tinggi,tidak,tidak,tidak,113.0,60.0,2022-03-15
3,77,laki-laki,1984-06-03,38.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",ya,tidak,tidak,138.0,89.0,2022-03-15
4,79,perempuan,1990-04-21,32.0,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,tidak,tidak,tidak,122.0,71.0,2022-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...
1937,1640,laki-laki,1985-01-07,37.0,INSPEKTORAT,NaN,tidak,tidak,ya,122.0,79.0,2022-08-25
1938,359,perempuan,1984-11-20,38.0,BAGIAN ADMINISTRASI PEMBANGUNAN,NaN,tidak,tidak,ya,NaN,NaN,2022-08-25
1939,263,laki-laki,1964-09-10,58.0,BAGIAN ADMINISTRASI DAN KEUANGAN,NaN,tidak,tidak,ya,145.0,73.0,2022-08-25
1940,673,laki-laki,1985-06-09,37.0,BAGIAN UMUM DAN PROTOKOL,NaN,tidak,tidak,tidak,118.0,75.0,2022-08-25
1941,1643,laki-laki,1980-05-08,42.0,BAGIAN UMUM DAN PROTOKOL,NaN,ya,tidak,ya,119.0,70.0,2022-08-25

In [5]:
data['tanggal'] = pd.to_datetime(data['tanggal'])
data['bulan'] = pd.DatetimeIndex(data['tanggal']).month
data

<ipython-input-5-0b70eb36d305>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tanggal'] = pd.to_datetime(data['tanggal'])
<ipython-input-5-0b70eb36d305>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['bulan'] = pd.DatetimeIndex(data['tanggal']).month

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan
0,24,laki-laki,1981-09-04,41.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Penyakit Asma,tidak,tidak,ya,NaN,NaN,2022-03-15,3
1,15,laki-laki,1990-12-27,32.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,NaN,ya,tidak,tidak,NaN,NaN,2022-03-15,3
2,76,perempuan,1980-09-15,42.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Kolesterol Tinggi,tidak,tidak,tidak,113.0,60.0,2022-03-15,3
3,77,laki-laki,1984-06-03,38.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",ya,tidak,tidak,138.0,89.0,2022-03-15,3
4,79,perempuan,1990-04-21,32.0,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,tidak,tidak,tidak,122.0,71.0,2022-03-16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,1640,laki-laki,1985-01-07,37.0,INSPEKTORAT,NaN,tidak,tidak,ya,122.0,79.0,2022-08-25,8
1938,359,perempuan,1984-11-20,38.0,BAGIAN ADMINISTRASI PEMBANGUNAN,NaN,tidak,tidak,ya,NaN,NaN,2022-08-25,8
1939,263,laki-laki,1964-09-10,58.0,BAGIAN ADMINISTRASI DAN KEUANGAN,NaN,tidak,tidak,ya,145.0,73.0,2022-08-25,8
1940,673,laki-laki,1985-06-09,37.0,BAGIAN UMUM DAN PROTOKOL,NaN,tidak,tidak,tidak,118.0,75.0,2022-08-25,8
1941,1643,laki-laki,1980-05-08,42.0,BAGIAN UMUM DAN PROTOKOL,NaN,ya,tidak,ya,119.0,70.0,2022-08-25,8

In [6]:
data = data.dropna()
data

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan
2,76,perempuan,1980-09-15,42.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Kolesterol Tinggi,tidak,tidak,tidak,113.0,60.0,2022-03-15,3
3,77,laki-laki,1984-06-03,38.0,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",ya,tidak,tidak,138.0,89.0,2022-03-15,3
4,79,perempuan,1990-04-21,32.0,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,tidak,tidak,tidak,122.0,71.0,2022-03-16,3
9,106,perempuan,1971-04-12,51.0,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,Penyakit Diabetes,tidak,tidak,ya,118.0,78.0,2022-03-17,3
11,112,laki-laki,1981-02-19,41.0,DINAS PERTANAHAN DAN TATA RUANG (KUNDHA NITI M...,Penyakit Diabetes,tidak,tidak,ya,126.0,86.0,2022-03-17,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,150,laki-laki,1993-03-29,29.0,INSPEKTORAT,Kolesterol Tinggi,ya,tidak,ya,145.0,74.0,2022-08-25,8
1918,302,perempuan,1980-01-12,42.0,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,tidak,tidak,ya,119.0,71.0,2022-08-25,8
1929,886,laki-laki,1994-04-13,28.0,BADAN PENANGGULANGAN BENCANA DAERAH,"Penyakit Diabetes,Penyakit Hipertensi",ya,tidak,ya,140.0,78.0,2022-08-25,8
1935,1641,perempuan,1992-11-26,30.0,INSPEKTORAT,Penyakit Hipertensi,tidak,tidak,tidak,139.0,89.0,2022-08-25,8
1936,1642,perempuan,1970-05-22,52.0,INSPEKTORAT,"Penyakit Diabetes,Penyakit Asma",tidak,tidak,ya,129.0,72.0,2022-08-25,8

In [7]:
data.duplicated().any()

False

In [8]:
data = pd.DataFrame(data)
data.convert_dtypes(infer_objects=True, convert_string=True)
data = data.convert_dtypes()

In [9]:
data = data[data.umur != 0]
data = data[data.umur != 1]
data = data[data.umur != 8]
data.sort_values(by='umur')

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan
182,353,laki-laki,2000-09-13,22,SATUAN POLISI PAMONG PRAJA,Penyakit Hipertensi,ya,tidak,tidak,120,78,2022-03-18,3
1860,955,perempuan,1999-03-24,23,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,tidak,tidak,ya,102,69,2022-08-25,8
454,246,perempuan,1999-03-27,23,BAGIAN PENGADAAN BARANG DAN JASA,"Penyakit Hipertensi,Penyakit Jantung",tidak,tidak,ya,120,77,2022-03-18,3
775,246,perempuan,1999-03-27,23,BAGIAN PENGADAAN BARANG DAN JASA,"Penyakit Hipertensi,Penyakit Jantung",tidak,tidak,tidak,100,74,2022-05-24,5
1115,955,perempuan,1999-03-24,23,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,tidak,tidak,ya,120,75,2022-05-27,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,604,perempuan,1964-10-11,58,INSPEKTORAT,"Penyakit Diabetes,Penyakit Hipertensi",tidak,tidak,tidak,126,84,2022-05-27,5
1795,501,perempuan,1964-08-01,58,DINAS PEMBERDAYAAN PEREMPUAN PERLINDUNGAN ANAK...,Penyakit Jantung,tidak,tidak,ya,123,76,2022-08-24,8
1794,591,laki-laki,1963-09-16,59,DINAS PEMBERDAYAAN PEREMPUAN PERLINDUNGAN ANAK...,Penyakit Diabetes,tidak,tidak,tidak,107,66,2022-08-24,8
1074,591,laki-laki,1963-09-16,59,DINAS PEMBERDAYAAN PEREMPUAN PERLINDUNGAN ANAK...,Penyakit Diabetes,tidak,tidak,tidak,114,68,2022-05-27,5
401,591,laki-laki,1963-09-16,59,DINAS PEMBERDAYAAN PEREMPUAN PERLINDUNGAN ANAK...,Penyakit Diabetes,tidak,tidak,ya,106,76,2022-03-17,3

In [10]:
for index, row in data.iterrows():
    
    #cowo
    if row['jenis_kelamin'] == 'laki-laki':
        if row['umur'] > 60:
            if row['sistol'] > 163 & row['diastol'] > 86:
                    data.loc[index, 's_tekanan_darah'] = 'hipertensi'
            elif row['sistol'] > 143 & row['diastol'] > 76:
                    data.loc[index, 's_tekanan_darah'] = 'sedang'
            elif row['sistol'] > 123 & row['diastol'] > 56:
                    data.loc[index, 's_tekanan_darah'] = 'normal'
        elif row['umur'] > 20:
            if row['sistol'] > 139 & row['diastol'] > 89:
                    data.loc[index, 's_tekanan_darah'] = 'hipertensi'
            elif row['sistol'] > 120 & row['diastol'] > 80:
                    data.loc[index, 's_tekanan_darah'] = 'sedang'
            elif row['sistol'] > 89 & row['diastol'] > 59:
                    data.loc[index, 's_tekanan_darah'] = 'normal'
        
    #cewe
    elif row['jenis_kelamin'] == 'perempuan':
        if row['umur'] > 60:
            if row['sistol'] > 160 & row['diastol'] > 87:
                    data.loc[index, 's_tekanan_darah'] = 'hipertensi'
            elif row['sistol'] > 130 & row['diastol'] > 77:
                    data.loc[index, 's_tekanan_darah'] = 'sedang'
            elif row['sistol'] > 110 & row['diastol'] > 57:
                    data.loc[index, 's_tekanan_darah'] = 'normal'
        elif row['umur'] > 20:
            if row['sistol'] > 134 & row['diastol'] > 81:
                    data.loc[index, 's_tekanan_darah'] = 'hipertensi'
            elif row['sistol'] > 115 & row['diastol'] > 71:
                    data.loc[index, 's_tekanan_darah'] = 'sedang'
            elif row['sistol'] > 84 & row['diastol'] > 51:
                    data.loc[index, 's_tekanan_darah'] = 'normal'

In [11]:
data

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan,s_tekanan_darah
2,76,perempuan,1980-09-15,42,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,Kolesterol Tinggi,tidak,tidak,tidak,113,60,2022-03-15,3,NaN
3,77,laki-laki,1984-06-03,38,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",ya,tidak,tidak,138,89,2022-03-15,3,sedang
4,79,perempuan,1990-04-21,32,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,tidak,tidak,tidak,122,71,2022-03-16,3,normal
9,106,perempuan,1971-04-12,51,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,Penyakit Diabetes,tidak,tidak,ya,118,78,2022-03-17,3,normal
11,112,laki-laki,1981-02-19,41,DINAS PERTANAHAN DAN TATA RUANG (KUNDHA NITI M...,Penyakit Diabetes,tidak,tidak,ya,126,86,2022-03-17,3,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,150,laki-laki,1993-03-29,29,INSPEKTORAT,Kolesterol Tinggi,ya,tidak,ya,145,74,2022-08-25,8,normal
1918,302,perempuan,1980-01-12,42,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,tidak,tidak,ya,119,71,2022-08-25,8,normal
1929,886,laki-laki,1994-04-13,28,BADAN PENANGGULANGAN BENCANA DAERAH,"Penyakit Diabetes,Penyakit Hipertensi",ya,tidak,ya,140,78,2022-08-25,8,normal
1935,1641,perempuan,1992-11-26,30,INSPEKTORAT,Penyakit Hipertensi,tidak,tidak,tidak,139,89,2022-08-25,8,sedang
1936,1642,perempuan,1970-05-22,52,INSPEKTORAT,"Penyakit Diabetes,Penyakit Asma",tidak,tidak,ya,129,72,2022-08-25,8,normal

In [12]:
data.isna().sum()

peserta_id                 0
jenis_kelamin              0
tanggal_lahir              0
umur                       0
nama_opd                   0
ptm_keluarga               0
merokok                    0
konsumsi_alkohol           0
kurang_aktivitas_fisik     0
sistol                     0
diastol                    0
tanggal                    0
bulan                      0
s_tekanan_darah           52
dtype: int64

In [13]:
data.dropna()

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan,s_tekanan_darah
3,77,laki-laki,1984-06-03,38,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",ya,tidak,tidak,138,89,2022-03-15,3,sedang
4,79,perempuan,1990-04-21,32,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,tidak,tidak,tidak,122,71,2022-03-16,3,normal
9,106,perempuan,1971-04-12,51,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,Penyakit Diabetes,tidak,tidak,ya,118,78,2022-03-17,3,normal
11,112,laki-laki,1981-02-19,41,DINAS PERTANAHAN DAN TATA RUANG (KUNDHA NITI M...,Penyakit Diabetes,tidak,tidak,ya,126,86,2022-03-17,3,normal
12,116,perempuan,1975-08-17,47,BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH,"Penyakit Diabetes,Penyakit Hipertensi,Penyakit...",tidak,tidak,ya,132,88,2022-03-16,3,sedang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,150,laki-laki,1993-03-29,29,INSPEKTORAT,Kolesterol Tinggi,ya,tidak,ya,145,74,2022-08-25,8,normal
1918,302,perempuan,1980-01-12,42,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,tidak,tidak,ya,119,71,2022-08-25,8,normal
1929,886,laki-laki,1994-04-13,28,BADAN PENANGGULANGAN BENCANA DAERAH,"Penyakit Diabetes,Penyakit Hipertensi",ya,tidak,ya,140,78,2022-08-25,8,normal
1935,1641,perempuan,1992-11-26,30,INSPEKTORAT,Penyakit Hipertensi,tidak,tidak,tidak,139,89,2022-08-25,8,sedang
1936,1642,perempuan,1970-05-22,52,INSPEKTORAT,"Penyakit Diabetes,Penyakit Asma",tidak,tidak,ya,129,72,2022-08-25,8,normal

In [14]:
number = LabelEncoder()
data['merokok'] = number.fit_transform(data['merokok'])
data['kurang_aktivitas_fisik'] = number.fit_transform(data['kurang_aktivitas_fisik'])
data['konsumsi_alkohol'] = number.fit_transform(data['konsumsi_alkohol'])
data = data.dropna()
data

,peserta_id,jenis_kelamin,tanggal_lahir,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sistol,diastol,tanggal,bulan,s_tekanan_darah
3,77,laki-laki,1984-06-03,38,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,"Penyakit Hipertensi,Penyakit Stroke",1,0,0,138,89,2022-03-15,3,sedang
4,79,perempuan,1990-04-21,32,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,Penyakit Stroke,0,0,0,122,71,2022-03-16,3,normal
9,106,perempuan,1971-04-12,51,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,Penyakit Diabetes,0,0,1,118,78,2022-03-17,3,normal
11,112,laki-laki,1981-02-19,41,DINAS PERTANAHAN DAN TATA RUANG (KUNDHA NITI M...,Penyakit Diabetes,0,0,1,126,86,2022-03-17,3,normal
12,116,perempuan,1975-08-17,47,BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH,"Penyakit Diabetes,Penyakit Hipertensi,Penyakit...",0,0,1,132,88,2022-03-16,3,sedang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,150,laki-laki,1993-03-29,29,INSPEKTORAT,Kolesterol Tinggi,1,0,1,145,74,2022-08-25,8,normal
1918,302,perempuan,1980-01-12,42,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,Penyakit Diabetes,0,0,1,119,71,2022-08-25,8,normal
1929,886,laki-laki,1994-04-13,28,BADAN PENANGGULANGAN BENCANA DAERAH,"Penyakit Diabetes,Penyakit Hipertensi",1,0,1,140,78,2022-08-25,8,normal
1935,1641,perempuan,1992-11-26,30,INSPEKTORAT,Penyakit Hipertensi,0,0,0,139,89,2022-08-25,8,sedang
1936,1642,perempuan,1970-05-22,52,INSPEKTORAT,"Penyakit Diabetes,Penyakit Asma",0,0,1,129,72,2022-08-25,8,normal

In [15]:
data = data[['bulan','peserta_id','jenis_kelamin','umur','nama_opd','ptm_keluarga',
             'merokok','konsumsi_alkohol','kurang_aktivitas_fisik','s_tekanan_darah']]

In [16]:
sum(data['s_tekanan_darah'] == 'hipertensi')

1

In [17]:
sum(data['s_tekanan_darah'] == 'sedang')

175

In [18]:
sum(data['s_tekanan_darah'] == 'normal')

249

In [19]:
data = data[(data.s_tekanan_darah == 'hipertensi')]

# deskripsi gejala hipertensi dengan stimulus data kuisioner

In [20]:
#sakit kepala, mudah lelah, merasa cemas
data2 = pd.read_excel('Data Posbindu 2.xlsx')

In [21]:
data2.dtypes

id_peserta                                                                 int64
jss_id                                                                    object
lokasi                                                                    object
tanggal                                                                   object
Apakah anda sering menderita sakit kepala?                                 int64
Apakah anda tidak nafsu makan?                                             int64
Apakah anda sulit tidur?                                                   int64
Apakah anda mudah takut?                                                   int64
Apakah anda merasa tegang, cemas atau kuatir?                              int64
Apakah tangan anda gemetar?                                                int64
Apakah pencernaan anda terganggu/ buruk?                                   int64
Apakah anda sulit untuk berpikir jernih?                                   int64
Apakah anda merasa tidak bahagia?                                          int64
Apakah anda menangis lebih sering?                                         int64
Apakah anda merasa sulit untuk menikmati kegiatan sehari-hari?             int64
Apakah anda sulit untuk mengambil keputusan?                               int64
Apakah pekerjaan anda sehari-hari terganggu?                               int64
Apakah anda tidak mampu melakukan hal-hal yang bermanfaat dalam hidup?     int64
Apakah anda kehilangan minat pada berbagai hal?                            int64
Apakah anda merasa tidak berharga?                                         int64
Apakah anda mempunyai pikiran untuk mengakhiri hidup?                      int64
Apakah anda merasa lelah sepanjang waktu?                                  int64
Apakah anda mengalami rasa tidak enak di perut?                            int64
Apakah anda mudah lelah?                                                   int64
created_at                                                                object
updated_at                                                                object
dtype: object

In [22]:
data2.isna().sum()

id_peserta                                                                0
jss_id                                                                    0
lokasi                                                                    0
tanggal                                                                   0
Apakah anda sering menderita sakit kepala?                                0
Apakah anda tidak nafsu makan?                                            0
Apakah anda sulit tidur?                                                  0
Apakah anda mudah takut?                                                  0
Apakah anda merasa tegang, cemas atau kuatir?                             0
Apakah tangan anda gemetar?                                               0
Apakah pencernaan anda terganggu/ buruk?                                  0
Apakah anda sulit untuk berpikir jernih?                                  0
Apakah anda merasa tidak bahagia?                                         0
Apakah anda menangis lebih sering?                                        0
Apakah anda merasa sulit untuk menikmati kegiatan sehari-hari?            0
Apakah anda sulit untuk mengambil keputusan?                              0
Apakah pekerjaan anda sehari-hari terganggu?                              0
Apakah anda tidak mampu melakukan hal-hal yang bermanfaat dalam hidup?    0
Apakah anda kehilangan minat pada berbagai hal?                           0
Apakah anda merasa tidak berharga?                                        0
Apakah anda mempunyai pikiran untuk mengakhiri hidup?                     0
Apakah anda merasa lelah sepanjang waktu?                                 0
Apakah anda mengalami rasa tidak enak di perut?                           0
Apakah anda mudah lelah?                                                  0
created_at                                                                0
updated_at                                                                0
dtype: int64

In [23]:
data2['tanggal'] = pd.to_datetime(data2['tanggal'])
data2['bulan'] = pd.DatetimeIndex(data2['tanggal']).month

In [24]:
data2 = data2[['id_peserta','Apakah anda sering menderita sakit kepala?',
              'Apakah anda mudah lelah?','Apakah anda merasa tegang, cemas atau kuatir?']]
data2.columns = ['peserta_id','sakit_kepala?','mudah_lelah?','merasa_cemas?']
data2 = data2[(data2.peserta_id == 414)]
data2

     peserta_id  sakit_kepala?  mudah_lelah?  merasa_cemas?
223         414              0             0              0

In [25]:
data_all = pd.merge(data.reset_index(), data2.reset_index())
data_all = data_all[['peserta_id','jenis_kelamin','umur','nama_opd','ptm_keluarga',
                    'merokok','konsumsi_alkohol','kurang_aktivitas_fisik',
                    'sakit_kepala?','mudah_lelah?','merasa_cemas?','s_tekanan_darah']]
data_all

,peserta_id,jenis_kelamin,umur,nama_opd,ptm_keluarga,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,sakit_kepala?,mudah_lelah?,merasa_cemas?,s_tekanan_darah
0,414,laki-laki,41,DINAS PERINDUSTRIAN KOPERASI DAN USAHA KECIL M...,Penyakit Hipertensi,0,0,1,0,0,0,hipertensi