In [1]:
import pandas as pd
from datetime import datetime
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import preprocessing as pre
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error

In [2]:
data = pd.read_excel('Data Posbindu 1.xlsx')

In [3]:
data = data[['peserta_id','tanggal','nama_opd','jenis_kelamin',
           'benjolan_payudara','gula_berlebih','garam_berlebih','lemak_berlebih',
           'merokok','konsumsi_alkohol','kurang_aktivitas_fisik','kurang_buah_sayur']]
data

,peserta_id,tanggal,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
0,24,2022-03-15,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,laki-laki,NaN,tidak,tidak,tidak,tidak,tidak,ya,tidak
1,15,2022-03-15,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,laki-laki,NaN,ya,tidak,tidak,ya,tidak,tidak,ya
2,76,2022-03-15,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,tidak,tidak,ya,tidak,tidak,tidak,tidak,ya
3,77,2022-03-15,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,laki-laki,tidak,tidak,tidak,tidak,ya,tidak,tidak,tidak
4,79,2022-03-16,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,tidak,tidak,tidak,tidak,tidak,tidak,tidak,tidak
...,...,...,...,...,...,...,...,...,...,...,...,...
1937,1640,2022-08-25,INSPEKTORAT,laki-laki,tidak,tidak,tidak,ya,tidak,tidak,ya,ya
1938,359,2022-08-25,BAGIAN ADMINISTRASI PEMBANGUNAN,perempuan,NaN,tidak,tidak,tidak,tidak,tidak,ya,tidak
1939,263,2022-08-25,BAGIAN ADMINISTRASI DAN KEUANGAN,laki-laki,tidak,tidak,tidak,ya,tidak,tidak,ya,ya
1940,673,2022-08-25,BAGIAN UMUM DAN PROTOKOL,laki-laki,tidak,ya,tidak,tidak,tidak,tidak,tidak,ya
1941,1643,2022-08-25,BAGIAN UMUM DAN PROTOKOL,laki-laki,tidak,tidak,tidak,tidak,ya,tidak,ya,tidak

In [4]:
data = data.dropna()
data.isna().sum()

peserta_id                0
tanggal                   0
nama_opd                  0
jenis_kelamin             0
benjolan_payudara         0
gula_berlebih             0
garam_berlebih            0
lemak_berlebih            0
merokok                   0
konsumsi_alkohol          0
kurang_aktivitas_fisik    0
kurang_buah_sayur         0
dtype: int64

In [5]:
number = LabelEncoder()
data['benjolan_payudara'] = number.fit_transform(data['benjolan_payudara'])
data['gula_berlebih'] = number.fit_transform(data['gula_berlebih'])
data['garam_berlebih'] = number.fit_transform(data['garam_berlebih'])
data['lemak_berlebih'] = number.fit_transform(data['lemak_berlebih'])
data['merokok'] = number.fit_transform(data['merokok'])
data['kurang_buah_sayur'] = number.fit_transform(data['kurang_buah_sayur'])
data['kurang_aktivitas_fisik'] = number.fit_transform(data['kurang_aktivitas_fisik'])
data['konsumsi_alkohol'] = number.fit_transform(data['konsumsi_alkohol'])

<ipython-input-5-d1b3b4521ae1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['benjolan_payudara'] = number.fit_transform(data['benjolan_payudara'])
<ipython-input-5-d1b3b4521ae1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gula_berlebih'] = number.fit_transform(data['gula_berlebih'])
<ipython-input-5-d1b3b4521ae1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['garam_berlebih'] = number.fit_transform(data['garam_berlebih'])
<ipython-input-5-d1b3b4521ae1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['lemak_berlebih'] = number.fit_transform(data['lemak_berlebih'])
<ipython-input-5-d1b3b4521ae1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['merokok'] = number.fit_transform(data['merokok'])
<ipython-input-5-d1b3b4521ae1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['kurang_buah_sayur'] = number.fit_transform(data['kurang_buah_sayur'])
<ipython-input-5-d1b3b4521ae1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['kurang_aktivitas_fisik'] = number.fit_transform(data['kurang_aktivitas_fisik'])
<ipython-input-5-d1b3b4521ae1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['konsumsi_alkohol'] = number.fit_transform(data['konsumsi_alkohol'])

In [6]:
sum(data['benjolan_payudara'] == 1)

12

In [7]:
data['tanggal'] = pd.to_datetime(data['tanggal'])
data['bulan'] = pd.DatetimeIndex(data['tanggal']).month
data = data[['peserta_id','bulan','nama_opd','jenis_kelamin','benjolan_payudara',
             'gula_berlebih','garam_berlebih','lemak_berlebih',
             'merokok','konsumsi_alkohol','kurang_aktivitas_fisik','kurang_buah_sayur']]

<ipython-input-7-100fad2b0b1b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tanggal'] = pd.to_datetime(data['tanggal'])
<ipython-input-7-100fad2b0b1b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['bulan'] = pd.DatetimeIndex(data['tanggal']).month

In [8]:
data[(data.benjolan_payudara == 1)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
212,360,3,DINAS KESEHATAN,perempuan,1,0,0,0,0,0,1,1
217,403,3,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1
546,411,5,DINAS KESEHATAN,perempuan,1,0,0,0,0,0,1,1
559,184,5,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,1,0,0,0,1,0
609,403,5,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1
639,110,5,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,1,0,0,0,1,1
1305,1145,8,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,perempuan,1,0,0,0,0,0,0,1
1374,110,8,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,0,0,0,0,1,1
1421,403,8,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1
1860,955,8,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,perempuan,1,1,0,1,0,0,1,0
1872,460,8,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,0,0
1910,604,8,INSPEKTORAT,perempuan,1,0,0,1,0,0,1,0

# melihat data secara personel
# serta melakukan kesimpulan atau evaluasi setiap uji tes nya

In [9]:
# status = memiliki benjolan pada bulan 3 = sebab kurang olahraga dan kurang buah sayur
# status = tidak meiliki benjolan pada bulan 5 =  status sebab masih sama yaitu kurang olahraga dan buah sayur
# kesimpulan = faktor lain yang dapat menyebabkan hilang nya benjolan tersebut

data[(data.peserta_id == 360)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
212,360,3,DINAS KESEHATAN,perempuan,1,0,0,0,0,0,1,1
1138,360,5,DINAS PARIWISATA,perempuan,0,0,0,0,0,0,1,1

In [10]:
# status = memiliki benjolan pada bulan 3,5, dan 8
# sebab = kurang olahraga dan kurang buah sayur
# kesimpulan = harus menambah konsumsi buah dan sayur, disertai dengan olahraga teratur

data[(data.peserta_id == 403)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
217,403,3,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1
609,403,5,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1
1421,403,8,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,1,1

In [11]:
# status = memiliki benjolan pada bulan 5 dan tidak pada bulan 3,8
# sebab = kurang olahraga dan kurang buah sayur
# kesimpulan = faktor lain selain atribut dibawah

data[(data.peserta_id == 411)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
298,411,3,DINAS KESEHATAN,perempuan,0,0,0,0,0,0,1,1
546,411,5,DINAS KESEHATAN,perempuan,1,0,0,0,0,0,1,1
1316,411,8,DINAS KESEHATAN,perempuan,0,0,0,0,0,0,1,1

In [12]:
# status = memiliki benjolan pada bulan 5 dan tidak pada bulan 3,8
# sebab = garam berlebih(bulan 3 dan 5) yang berlarut dan kurang nya aktivitas fisik
# kesimpulan = menghilangkan kebiasaan dalam mengonsumsi garam berlebih dapat mengurangi benjolan pada payudara

data[(data.peserta_id == 184)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
91,184,3,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,0,0,1,0,0,0,1,0
559,184,5,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,1,0,0,0,1,0
1378,184,8,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,0,0,0,0,0,0,1,0

In [13]:
# status = memiliki benjolan pada bulan 5 dan 8 namun tidak mengonsumsi gula berlebih pada bulan 8
# sebab = garam berlebih(bulan 5), kurang olahraga dan mengonsumsi buah dan sayur
# kesimpulan = masih harus olahraga secara teratur dan perbanyak mengonsumsi buah dan sayur
# kesimpulan = kurang nya garam berlebih tidak menjamin hilangnya benjolan

data[(data.peserta_id == 110)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
639,110,5,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,1,0,0,0,1,1
1374,110,8,DINAS KOMUNIKASI INFORMATIKA DAN PERSANDIAN,perempuan,1,0,0,0,0,0,1,1

In [14]:
# status = memiliki benjolan pada bulan 8 dan tidak pada bulan 5
# sebab = kurang nya mengonsumsi buah dan sayur
# kesimpulan = kurang nya mengonsumsi buah dan sayur dapat memicu adanya benjolan

data[(data.peserta_id == 1145)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
1010,1145,5,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,perempuan,0,0,0,0,0,0,0,0
1305,1145,8,DINAS SOSIAL TENAGA KERJA DAN TRANSMIGRASI,perempuan,1,0,0,0,0,0,0,1

In [15]:
# status = memiliki benjolan pada bulan 8 dan tidak pada bulan 5
# sebab = gula berlebih(hanya bulan 8), lemak berlebih dan kurang olahraga
# kesimpulan = mengonsumsi gula berlebih dapat memicu adanya benjolan

data[(data.peserta_id == 955)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
1115,955,5,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,perempuan,0,0,0,1,0,0,1,0
1860,955,8,DINAS PEKERJAAN UMUM PERUMAHAN DAN KAWASAN PER...,perempuan,1,1,0,1,0,0,1,0

In [16]:
# status = memiliki benjolan pada bulan 8 dan tidak pada bulan 3
# sebab = faktor lain yang memicu adanya benjolan
# kesimpulan = faktor lain yang memicu adanya benjolan

data[(data.peserta_id == 460)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
261,460,3,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,0,0,0,0,0,0,0,0
1872,460,8,BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...,perempuan,1,0,0,0,0,0,0,0

In [17]:
# status = memiliki benjolan pada bulan 8
# sebab = lemak berlebih dan kurang olahraga
# kesimpulan = mengonsumsi lemak berlebih disertai kurang nya olahraga dapat memicu adanya benjolan pada payudara

data[(data.peserta_id == 604)]

,peserta_id,bulan,nama_opd,jenis_kelamin,benjolan_payudara,gula_berlebih,garam_berlebih,lemak_berlebih,merokok,konsumsi_alkohol,kurang_aktivitas_fisik,kurang_buah_sayur
421,604,3,INSPEKTORAT,perempuan,0,0,0,0,0,0,0,0
1064,604,5,INSPEKTORAT,perempuan,0,0,0,0,0,0,0,0
1910,604,8,INSPEKTORAT,perempuan,1,0,0,1,0,0,1,0